<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.blinky.peestash.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />


    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:hardwareAccelerated="true">
        <activity
                android:name=".LoginActivity"
                android:label="@string/title_activity_login"
                android:screenOrientation="portrait" >
        </activity>
        <activity
                android:name=".RegisterArtistActivity"
                android:label="@string/title_activity_register_artist"
                android:screenOrientation="portrait"
                android:parentActivityName=".LoginActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".LoginActivity" />
        </activity>
        <activity
                android:name=".RegisterEtablissementActivity"
                android:label="@string/title_activity_register_etablissement"
                android:screenOrientation="portrait"
                android:parentActivityName=".LoginActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".LoginActivity" />
        </activity>
        <activity
                android:name=".EditArtistProfilActivity"
                android:label="@string/title_activity_edit_artist_profil"
                android:screenOrientation="portrait" >
        </activity>
        <activity
                android:name=".EditEtablissementProfilActivity"
                android:label="@string/title_activity_edit_etablissement_profil"
                android:screenOrientation="portrait" >
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/title_activity_main"
                android:screenOrientation="portrait" >
        </activity>
        <activity
                android:name=".MainEtbActivity"
                android:label="@string/title_activity_etb_main"
                android:screenOrientation="portrait" >
        </activity>
        <activity
                android:name=".UploadActivity"
                android:label="@string/title_activity_upload"
                android:screenOrientation="portrait"
                >

        </activity>
        <activity
                android:name=".ArtistHomeActivity"
                android:label="@string/title_activity_artist_home"
                android:screenOrientation="portrait" >
        </activity>
        <activity
                android:name=".EtablissementHomeActivity"
                android:label="@string/title_activity_etablissement_home"
                android:screenOrientation="portrait" >
        </activity>
        <activity
                android:name=".TabActivity"
                android:label="@string/title_activity_etablissement_home"
                android:screenOrientation="portrait" >

        </activity>
        <activity
                android:name=".AddEventActivity"
                android:label="@string/title_activity_add_event"
                android:screenOrientation="portrait" >

        </activity>
 
        <activity
                android:name=".SlideActivity"
                android:label="@string/title_activity_slide"
                android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>